# backend/requirements.txt

Flask==3.0.3
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.32
psycopg==3.1.19
psycopg2-binary==2.9.10  # Python 3.13 uyumlu sürüm eklendi
python-dotenv==1.0.1
Flask-Cors==4.0.1
Flask-Migrate==4.0.7
PyJWT==2.8.0
gunicorn>=20.1.0